html {
    scroll-behavior: smooth;
}

.card-info {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-demo {
    border: none;
}

.text-center {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1199.98px) {
        .container-main {
                width: auto;
        }
}

@media screen and (max-width: 991.98px) {
        .container-main {
                width: auto;
        }

        .card-info {
            height: auto;
        }

        .img-second {
            order: 2; 
        }
}

@media screen and (max-width: 767.98px) {
        .container-main {
                width: auto;
}
    }

@media screen and (max-width: 575.98px) {
        .container-main {
                width: auto;
}
    }