html {
    scroll-behavior: smooth;
}

.card-info {
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-demo {
    border: none;
}

.text-center {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1199.98px) {
        .container-main {
                width: auto;
        }
}

@media screen and (max-width: 991.98px) {
        .container-main {
                width: auto;
        }

        .card-info {
            height: auto;
        }

        .img-second {
            order: 2; 
        }
}

@media screen and (max-width: 767.98px) {
        .container-main {
                width: auto;
}
    }

@media screen and (max-width: 575.98px) {
        .container-main {
                width: auto;
}
    }


/* @media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
                .container-main {
                    display: block;
                    width: 760px;
                }
                
                .container-info {
                    display: block;
                }

                .card-info {
                    height: fit-content;
                }

                .img-second {
                    order: 2; 
                }
}


    @media only screen
    and (min-device-width : 320px)
    and (max-device-width : 376px) {
        .container-main {
            display: block;
            width: 375px;
        }
        }

        @media only screen
        and (min-device-width : 377px)
        and (max-device-width : 420px) {
                .container-main { 
                        padding: 1; 
                        margin: 1; 
                        width: 412px; }
                }


    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .container-main {
            display: block;
            width: 1024px;
        }
        } */